# Changes here will be overwritten by Copier
ONTOLOGY_FILE={{ ontology_file | replace('.nt', '') | replace('.ttl', '') }}
ONTOLOGY_IRI="{{ ontology_iri }}"
ONTOLOGY_PREFIX="{{ ontology_prefix }}"
ONTOLOGY_GRAPH_IRI="{{ ontology_graph_iri }}"

SHAPE={{ shape }}
SHAPE_FILE={{ shape_file | replace('.nt', '') | replace('.ttl', '') }}
SHAPE_BASE_IRI="{{ shape_base_iri }}"
SHAPE_BASE_PREFIX="{{ shape_base_prefix }}"
SHAPE_GRAPH_IRI="{{ shape_graph_iri }}"

INSTANCES={{ instances }}
INSTANCES_FILE={{ instances_file | replace('.nt', '') | replace('.ttl', '') }}
INSTANCES_GRAPH_IRI="{{ instances_graph_iri }}"

CMEMC_CONFIG_ID={{ cmemc_config_id }}
CMEMC_CONFIG=cmemc.ini

GIT_PUSH={{ git_push }}
GIT_USER_NAME="{{ git_user_name }}"
GIT_USER_EMAIL={{ git_user_email }}
