# Changes here will be overwritten by Copier; NEVER EDIT MANUALLY
# Did you notice that NEVER EDIT MANUALLY part? [It is important](https://copier.readthedocs.io/en/stable/updating/#never-change-the-answers-file-manually).
{{_copier_answers|to_nice_yaml}}
