@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix dcterms: <http://purl.org/dc/terms/> .
@prefix owl: <http://www.w3.org/2002/07/owl#> .
@prefix sh: <http://www.w3.org/ns/shacl#> .
@prefix shui: <https://vocab.eccenca.com/shui/> .
@prefix void: <http://rdfs.org/ns/void#> .
@prefix vann: <http://purl.org/vocab/vann/> .
@prefix skos: <http://www.w3.org/2004/02/skos/core#> .
@prefix dcat: <http://www.w3.org/ns/dcat#> .
@prefix {{ ontology_prefix | replace(':', '') }}: <{{ ontology_graph_iri }}> .
{% if shape %}@prefix {{ shape_base_prefix | replace(':', '') }}: <{{ shape_graph_iri }}> .{% endif %}

{{ ontology_prefix | replace(':', '') }}: a owl:Ontology .
